VITE_OIDC_AUTHORITY=http://localhost:30080/realms/kubecoder
VITE_OIDC_CLIENT_ID=kubecoder-web
VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/logout/callback
